@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700,900|Sarabun:400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body, #app {
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Lato", sans-serif;
	margin: 0;
}
.main {
	margin: 32px 24px;
}
.clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}
.text-center {
	text-align: center;
}
/*
#app {
	.MuiGrid-spacing-xs-16-24 {
	  width: 1280px;
	  max-width: 100%;
	  margin: 0 auto;
	}
}
*/
h1 {
	font-size: 48px;
	line-height: 48px;
	margin: 0 0 24px;
	font-weight: 900;
}
.btn {
	border: none;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: .875rem;
	width: 260px;
	max-width: 100%;
	font-weight: 700;
	min-height: 40px;

	&.btn-optus {
		background: #fdcc08;
		color: #000!important;
	}
	&.btn-login {
		margin-top: 10px;
		// margin-bottom: 10px;
	}
}
a {
	color: #006280;
	font-weight: 700;
	text-decoration: none;
}

.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}