.dashboard {
    padding: 60px 0;

    .account-details {
        padding-right: 30px;
    }
    .account-values p {
        margin-top: 0;
    }
    .card-box {
        border: 1px solid #ccc;
        padding: 0 20px;
        border-radius: 4px;
        margin-bottom: 15px;

        .name {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }
        .number {
            margin-bottom: 0;
        }
        .expiry {
            float: right;
        }
    }
}